services:
  db:
    image: postgres:16-alpine
    container_name: job_monitor_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER?Variable is not set}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD?Variable is not set}
      POSTGRES_DB: ${POSTGRES_DB?Variable is not set}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: job_monitor_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
  redis:
    image: redis:7-alpine
    container_name: job_monitor_redis
    ports:
      - "6379:6379"
volumes:
  postgres_data: